<meta charset="UTF-8">
<style type="text/css">@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');
/* footer */
.fc-top {
    padding: 0 0 !important;
}
._customer-footer {
    width: 100%;
    min-width: 700px;
    display: block;
    font-family: 'Roboto', Arial, sans-serif;
    font-weight: 300;
    font-size: 15px;
    background: #2b2d30;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.2);
}
._customer-footer__wrap {
    max-width: 1227px;
    margin: auto;
    padding: 0 20px;
}
._customer-footer__container {
    display: flex;
    justify-content: flex-start;
    position: relative;
    box-sizing: border-box;
    padding: 60px 0 64px;
}
._customer-footer__logo-block {
    margin-right: 110px;
    text-align: right;
}
._customer-footer__logo {
    display: block;
    margin-bottom: 45px;
}
._customer-footer__cnt {
    color: #888888 !important;
    margin: 0 !important;
    text-decoration: none !important;
    font-weight: 300;
}
._customer-footer__cnt:hover {
    color: #ffffff !important;
    text-decoration: underline !important;
}
._customer-footer__cnt--bold {
    font-size: 20px;
    font-weight: 700;
    color: #ffffff;
    margin: 0;
}
._customer-footer__cnt--bold:after {
    content: "";
    width: 50px;
    height: 2px;
    background: #4a9c00;
    display: block;
    margin-top: 28px;
}
._customer-footer__catalog-block {
    display: flex;
    justify-content: flex-start;
}
._customer-footer__catalog-list {
    margin: 0 100px 0 0;
}
._customer-footer__catalog-list:last-child {
    margin-right: 0;
}
._customer-footer__contact-block {
    display: flex;
    justify-content: flex-start;
}
._customer-footer__ul {
    list-style: none !important;
    margin: 31px 0 0 0 !important;
    padding: 0;
}
._customer-footer__ul li {
    margin: 0 0 16px 0;
}
._customer-footer__work {
    color: #888888 !important;
    font-size: 13px;
    font-weight: 300;
    line-height: 15px;
}
._customer-footer__phone {
    margin-bottom: 15px;
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
    margin-top: 5px;
    position: relative;
}
._customer-footer__phone a,
._customer-footer__mail a {
    color: #ffffff !important;
    text-decoration: none;
}
._customer-footer__phone:before {
    content: url("img/footer/phone.png");
    position: absolute;
    left: 160px;
}
._customer-footer__mail {
    position: relative;
}
._customer-footer__mail:before {
    content: url("img/footer/mail.png");
    position: absolute;
}
._customer-footer__map {
    color: #ffffff;
    line-height: 20px;
    position: relative;
}
._customer-footer__map:before {
    content: url("img/footer/maps.png");
    position: absolute;
}
._customer-footer__phone a:hover,
._customer-footer__mail a:hover {
    text-decoration: underline;
}
._customer-footer__mail span,
._customer-footer__map span {
    padding-left: 25px;
}
._customer-footer__bottom {
    width: 100%;
    min-width: 700px;
    height: 50px;
    display: block;
    background: #202224;
    color: #666666;
    font-size: 13px;
    font-family: 'Roboto', Arial, sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    line-height: 50px;
}
._customer-btn {
    width: 190px;
    height: 40px;
    background: #4a9c00;
    border-radius: 4px;
    text-align: center;
    line-height: 40px;
    margin-top: 43px;
    cursor: pointer;
    color: #ffffff;
    font-weight: 300;
    text-transform: uppercase;
    margin-left: auto;
}
._customer-btn:hover {
    opacity: 0.9;
}
@media (max-width: 1198px) {
    ._customer-footer__logo-block {
        margin-right: 50px;
    }
    ._customer-footer__catalog-list {
        margin-right: 30px;
    }
}
/* end_footer */
</style>
<!-- Footer -->
<footer class="_customer-footer" itemscope itemtype="http://schema.org/LocalBusiness">
    <div class="_customer-footer__wrap">
        <div class="_customer-footer__container">
            <div class="_customer-footer__catalog-block">
                <div class="_customer-footer__logo-block"><a class="_customer-footer__logo" href="http://www.фасад-забор.рф"><img src="img/footer/logo.png" itemprop="logo" alt="Фасады и заборы" /> </a>
                    <div class="_customer-footer__work" content="Mo,Tu,We,Th,Fr 09:00-18:00, Sa 09:00-14:00" itemprop="openingHours">Пн - Пт: с 9:00 до 18:00<br />
                        Сб: с 9:00 до 14:00</div>

                    <div class="_customer-footer__phone"><a href="tel:+78633332213" itemprop="telephone" onclick="yaCounter49377670.reachGoal('megasite_footer_tel'); return true;">8 (863) 333-22-13</a><br />
                        <a href="tel:+78005002689" itemprop="telephone" onclick="yaCounter49377670.reachGoal('megasite_footer_tel'); return true;">8 (800) 500-26-89</a></div>

                    <div class="js-ga-link js-orders-callback-link tmpl-communication-content _customer-btn" data-company-id="99359328" data-company-name="Фасады и Заборы" data-company-name-rest="ООО" data-company-url="http://www.фасад-забор.рф" data-ga-id="CK-1193-1" data-params="{&quot;company_id&quot;:99359328}" data-statistics="1" data-type="callback" onclick="yaCounter49377670.reachGoal('megasite_footer_callback'); return true;">Заказать звонок</div>
                </div>

                <div class="_customer-footer__catalog-list"><p class="_customer-footer__cnt--bold">О компании</p>

                    <ul class="_customer-footer__ul">
                        <li><a class="_customer-footer__cnt" href="/about">О компании</a></li>
                        <li><a class="_customer-footer__cnt" href="/catalog">Товары и услуги</a></li>
                        <li><a class="_customer-footer__cnt" href="#">Доп. страница</a></li>
                        <li><a class="_customer-footer__cnt" href="#">2-я доп. страница</a></li>
                        <li><a class="_customer-footer__cnt" href="/contacts">Контакты</a></li>
                    </ul>
                </div>

                <div class="_customer-footer__catalog-list"><p class="_customer-footer__cnt--bold">Продукция</p>

                    <ul class="_customer-footer__ul">
                        <li><a class="_customer-footer__cnt" href="#">Товарная категория 1</a></li>
                        <li><a class="_customer-footer__cnt" href="#">Товарная категория 2</a></li>
                        <li><a class="_customer-footer__cnt" href="#">Товарная категория 3</a></li>
                        <li><a class="_customer-footer__cnt" href="#">Товарная категория 4</a></li>
                        <li><a class="_customer-footer__cnt" href="#">Товарная категория 5</a></li>
                    </ul>
                </div>

                <div class="_customer-footer__contact-block">
                    <div class="_customer-footer__address"><p class="_customer-footer__cnt--bold">Контакты</p>

                        <ul class="_customer-footer__ul">
                            <li class="_customer-footer__mail"><span><a href="mailto:info@fasadizabor.ru" itemprop="email" onclick="yaCounter49377670.reachGoal('megasite_footer_email'); return true;">info@fasadizabor.ru</a></span></li>
                            <li class="_customer-footer__map" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
								<span itemprop="streetAddress">ул. Доватора, 146, Е</span><br />
                                <span itemprop="addressLocality">г. Ростов-на-Дону</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<div class="_customer-footer__bottom">
    <div class="_customer-footer__wrap">&copy; <span itemprop="name">Фасады и Заборы,</span> 2015&mdash;2019</div>
</div>
<!-- end Footer -->
