<meta charset="UTF-8">
<style type="text/css">@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&subset=cyrillic');
/* Toolbar */
._customer-toolbar {
	width: 100%;
	background: linear-gradient(90deg, rgb(29,116,0) 0%, rgb(74,156,0) 100%);
	font: normal 16px/1 'Roboto', Arial, sans-serif;
	color: #fff;
}
._customer-toolbar__cont {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	max-width: 1227px;
	margin: 0 auto;
	padding: 0;
}
._customer-toolbar ul {
	display: flex;
	padding: 0;
	list-style: none !important;
	margin: 0 !important;
}
._customer-toolbar__upp {
	font-size: 13px;
	text-transform: uppercase;
}
._customer-toolbar a {
	display: flex;
	align-items: center;
	height: 55px;
	color: inherit !important;
	text-decoration: none;
	margin: 0 9px;
}
._customer-toolbar {
	margin: 0;
}
._customer-toolbar a:hover {
	text-decoration: underline;
}
._customer-toolbar ._customer-toolbar__logo {
	width: 140px;
}
._customer-toolbar ._customer-toolbar__logo:hover {
	text-decoration: none;
}
._customer-toolbar__contact {
	box-sizing: border-box;
	padding-left: 25px;
	position: relative;
}
._customer-toolbar__contact:before {
	content: "";
	display: block;
	width: 18px;
	height: 18px;
	background-position: center;
	background-repeat: no-repeat;
	position: absolute;
	top: calc(50% - 9px);
	left: 0;
}
._customer-toolbar__contact_phone:before {
	background-image: url('img/toolbar/phone.png');
}
._customer-toolbar__contact_mail:before {
	background-image: url('img/toolbar/mail.png');
}
._customer-search {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 230px;
	min-width: 170px;
	height: 36px;
	box-sizing: border-box;
	overflow: hidden;
	position: relative;
	margin: 0 0 0 10px !important;
}
._customer-search .sf-input-wrapper {
	width: 100%;
	height: 100%;
}
._customer-search input {
	width: 100%;
	height: 100% !important;
	box-sizing: border-box;
	border: none;
	outline: none;
	padding: 0 40px 0 10px !important;
	background-color: #fff;
	font: normal 12px/1 'Roboto', Arial, sans-serif !important;
	color: #828282;
}
._customer-search button {
	width: 36px !important;
	height: 36px !important;
	background-color: #fcc517;
	background-repeat: no-repeat !important;
	background-position: center !important;
	position: absolute;
	top: 0;
	right: 0;
	cursor: pointer;
	border: none;
	box-sizing: border-box;
	outline:none !important;
	opacity: 1 !important;
}
._customer-search button:before {
	width: 36px !important;
	height: 36px !important;
	content: url('img/toolbar/search.png') !important;
	position: absolute;
	top: 0;
	right: -2px;
	padding-top: 10px;
}
._customer-search button:hover {
	opacity: .85 !important;
}
._customer-search button:active {
	opacity: .7 !important;
}
@media (max-width: 1060px) {
	._customer-toolbar {
		font-size: 14px;
	}
	._customer-toolbar__upp {
		font-size: 12px;
	}
	._customer-toolbar a {
		margin: 0 5px;
	}
}
/* end Toolbar */
</style>
<!-- Toolbar -->
<div class="_customer-toolbar">
	<div class="_customer-toolbar__cont">
		<div><a class="_customer-toolbar__logo" href="http://www.фасад-забор.рф/" title="На главную"><img src="img/toolbar/logo-toolbar.png" /> </a></div>

		<ul>
			<li class="_customer-toolbar__upp"><a href="/about">О компании</a></li>
			<li class="_customer-toolbar__upp"><a href="/catalog">Ассортимент</a></li>
			<li class="_customer-toolbar__upp"><a href="/contacts">Контакты</a></li>
		</ul>

		<form accept-charset="UTF-8" accept-encoding="UTF-8" action="http://www.фасад-забор.рф/catalog" class="_customer-search search-form with-search-icon" method="get" onsubmit="formSubmitter.disableButtons(this, null, null);">
			<div style="margin:0;padding:0;display:none"><input name="utf8" type="hidden" value="✓" /></div>

			<div class="sf-input-wrapper"><input class="sf-input js-reset-field" id="q2" maxlenght="255" name="q" placeholder="Найти товар или услугу..." type="text" /></div>
			<button class="custom-button" name="commit" type="submit" value="Поиск"></button></form>

		<ul>
			<li><a class="_customer-toolbar__contact _customer-toolbar__contact_phone" href="tel:+78633332213" onclick="yaCounter49377670.reachGoal('megasite_toolbar_email'); return true;">8 (863) 333-22-13</a></li>
			<li><a class="_customer-toolbar__contact _customer-toolbar__contact_mail" href="mailto:info@fasadizabor.ru" onclick="yaCounter49377670.reachGoal('megasite_toolbar_tel'); return true;">info@fasadizabor.ru</a></li>
		</ul>
	</div>
</div>
<!-- end Toolbar -->